# Groupby on dataframe

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [14]:
dframe = DataFrame({'K1':['X','X','Y','Y','Z'], 'K2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),'dataset2':
                   np.random.randn(5)})

In [15]:
dframe

  K1     K2  dataset1  dataset2
0  X  alpha  0.279562 -0.883614
1  X   beta -1.947694 -0.877242
2  Y  alpha -0.683499 -1.028856
3  Y   beta -0.829157 -3.223460
4  Z  alpha  0.657658  0.778643

In [19]:
group1 = dframe['dataset1'].groupby(dframe['K2'])

In [27]:
dframe['dataset1'].mean()

-0.5046259299115403

In [29]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [32]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -1.947694
    JAN   -0.683499
NY  FEB   -0.829157
    JAN    0.468610
Name: dataset1, dtype: float64

In [55]:
for name,group in dframe.groupby('K1'):
    print 'This is %s group'%name
    print group
    print '\n'

This is X group
  K1     K2  dataset1  dataset2
0  X  alpha  0.279562 -0.883614
1  X   beta -1.947694 -0.877242


This is Y group
  K1     K2  dataset1  dataset2
2  Y  alpha -0.683499 -1.028856
3  Y   beta -0.829157 -3.223460


This is Z group
  K1     K2  dataset1  dataset2
4  Z  alpha  0.657658  0.778643

In [61]:
for (K1,K2),group in dframe.groupby(['K1','K2']):
 print " key1 = %s , key2 = %s"%(K1,K2)
 print group

 key1 = X , key2 = alpha
  K1     K2  dataset1  dataset2
0  X  alpha  0.279562 -0.883614
 key1 = X , key2 = beta
  K1    K2  dataset1  dataset2
1  X  beta -1.947694 -0.877242
 key1 = Y , key2 = alpha
  K1     K2  dataset1  dataset2
2  Y  alpha -0.683499 -1.028856
 key1 = Y , key2 = beta
  K1    K2  dataset1  dataset2
3  Y  beta -0.829157  -3.22346
 key1 = Z , key2 = alpha
  K1     K2  dataset1  dataset2
4  Z  alpha  0.657658  0.778643

# Groupby ON Dict

In [62]:
animals = DataFrame(np.arange(16).reshape(4,4) , columns=['W','X','Y','Z'] , index=['Dog','Cat','Bird','Mouse'])

In [63]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [91]:
animals.ix[0:4,1:2]

        X
Dog     1
Cat     5
Bird    9
Mouse  13

In [99]:
behavior_map = {'W':'GOOD','X':'BAD','Y':'GOOD','Z':'BAD'}   #A dictionary in Python

In [100]:
behavior_map

{'W': 'GOOD', 'X': 'BAD', 'Y': 'GOOD', 'Z': 'BAD'}

In [103]:
animals.groupby(behavior_map,axis=1).sum()

       BAD  GOOD
Dog      4     2
Cat     12    10
Bird    20    18
Mouse   28    26

In [106]:
animals.groupby(len).sum()

    W   X   Y   Z
3   4   6   8  10
4   8   9  10  11
5  12  13  14  15

In [110]:
hier_col  = pd.MultiIndex.from_arrays([['NY','NY','NY','LA','LA'],[1,2,3,1,2]],names=['city','sub_value'])

In [111]:
hier_col

MultiIndex(levels=[[u'LA', u'NY'], [1, 2, 3]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=[u'city', u'sub_value'])

# Data Aggregation

In [112]:
#consists of opertion in scalar

In [115]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/'
import webbrowser
webbrowser.open(url)

True

In [118]:
wine = pd.read_csv('winequality-red.csv' ,sep=';')

In [127]:
#wine
wine['alcohol'].mean()

10.422983114446502

In [130]:
def max_to_min(array):
    return array.max()- array.min()

In [147]:
arr = np.array([1,2,3,6,5,])

In [148]:
arr.max()

6

In [149]:
wineo =wine.groupby('quality')

In [152]:
wineo.describe()

               fixed acidity  volatile acidity  citric acid  residual sugar  \
quality
3       count      10.000000         10.000000    10.000000       10.000000
        mean        8.360000          0.884500     0.171000        2.635000
        std         1.770875          0.331256     0.250664        1.401596
        min         6.700000          0.440000     0.000000        1.200000
        25%         7.150000          0.647500     0.005000        1.875000
        50%         7.500000          0.845000     0.035000        2.100000
        75%         9.875000          1.010000     0.327500        3.100000
        max        11.600000          1.580000     0.660000        5.700000
4       count      53.000000         53.000000    53.000000       53.000000
        mean        7.779245          0.693962     0.174151        2.694340
        std         1.626624          0.220110     0.201030        1.789436
        min         4.600000          0.230000     0.000000        1.300000
        25%         6.800000          0.530000     0.030000        1.900000
        50%         7.500000          0.670000     0.090000        2.100000
        75%         8.400000          0.870000     0.270000        2.800000
        max        12.500000          1.130000     1.000000       12.900000
5       count     681.000000        681.000000   681.000000      681.000000
        mean        8.167254          0.577041     0.243686        2.528855
        std         1.563988          0.164801     0.180003        1.359753
        min         5.000000          0.180000     0.000000        1.200000
        25%         7.100000          0.460000     0.090000        1.900000
        50%         7.800000          0.580000     0.230000        2.200000
        75%         8.900000          0.670000     0.360000        2.600000
        max        15.900000          1.330000     0.790000       15.500000
6       count     638.000000        638.000000   638.000000      638.000000
        mean        8.347179          0.497484     0.273824        2.477194
        std         1.797849          0.160962     0.195108        1.441576
        min         4.700000          0.160000     0.000000        0.900000
        25%         7.000000          0.380000     0.090000        1.900000
        50%         7.900000          0.490000     0.260000        2.200000
        75%         9.400000          0.600000     0.430000        2.500000
        max        14.300000          1.040000     0.780000       15.400000
7       count     199.000000        199.000000   199.000000      199.000000
        mean        8.872362          0.403920     0.375176        2.720603
        std         1.992483          0.145224     0.194432        1.371509
        min         4.900000          0.120000     0.000000        1.200000
        25%         7.400000          0.300000     0.305000        2.000000
        50%         8.800000          0.370000     0.400000        2.300000
        75%        10.100000          0.485000     0.490000        2.750000
        max        15.600000          0.915000     0.760000        8.900000
8       count      18.000000         18.000000    18.000000       18.000000
        mean        8.566667          0.423333     0.391111        2.577778
        std         2.119656          0.144914     0.199526        1.295038
        min         5.000000          0.260000     0.030000        1.400000
        25%         7.250000          0.335000     0.302500        1.800000
        50%         8.250000          0.370000     0.420000        2.100000
        75%        10.225000          0.472500     0.530000        2.600000
        max        12.600000          0.850000     0.720000        6.400000

                chlorides  free sulfur dioxide  total sulfur dioxide  \
quality
3       count   10.000000            10.000000             10.000000
        mean     0.122500            11.000000             24.900000
        std      0.066241             9.763879             16.828877
        min      0.061000             3.000000              9.000000
        25%      0.079000             5.000000             12.500000
        50%      0.090500             6.000000             15.000000
        75%      0.143000            14.500000             42.500000
        max      0.267000            34.000000             49.000000
4       count   53.000000            53.000000             53.000000
        mean     0.090679            12.264151             36.245283
        std      0.076192             9.025926             27.583374
        min      0.045000             3.000000              7.000000
        25%      0.067000             6.000000             14.000000
        50%      0.080000            11.000000             26.000000
        75%      0.089000            15.000000             49.000000
        max      0.610000            41.000000            119.000000
5       count  681.000000           681.000000            681.000000
        mean     0.092736            16.983847             56.513950
        std      0.053707            10.955446             36.993116
        min      0.039000             3.000000              6.000000
        25%      0.074000             9.000000             26.000000
        50%      0.081000            15.000000             47.000000
        75%      0.094000            23.000000             84.000000
        max      0.611000            68.000000            155.000000
6       count  638.000000           638.000000            638.000000
        mean     0.084956            15.711599             40.869906
        std      0.039563             9.940911             25.038250
        min      0.034000             1.000000              6.000000
        25%      0.068250             8.000000             23.000000
        50%      0.078000            14.000000             35.000000
        75%      0.088000            21.000000             54.000000
        max      0.415000            72.000000            165.000000
7       count  199.000000           199.000000            199.000000
        mean     0.076588            14.045226             35.020101
        std      0.029456            10.175255             33.191206
        min      0.012000             3.000000              7.000000
        25%      0.062000             6.000000             17.500000
        50%      0.073000            11.000000             27.000000
        75%      0.087000            18.000000             43.000000
        max      0.358000            54.000000            289.000000
8       count   18.000000            18.000000             18.000000
        mean     0.068444            13.277778             33.444444
        std      0.011678            11.155613             25.433240
        min      0.044000             3.000000             12.000000
        25%      0.062000             6.000000             16.000000
        50%      0.070500             7.500000             21.500000
        75%      0.075500            16.500000             43.000000
        max      0.086000            42.000000             88.000000

                  density          pH   sulphates     alcohol  quality
quality
3       count   10.000000   10.000000   10.000000   10.000000     10.0
        mean     0.997464    3.398000    0.570000    9.955000      3.0
        std      0.002002    0.144052    0.122020    0.818009      0.0
        min      0.994710    3.160000    0.400000    8.400000      3.0
        25%      0.996150    3.312500    0.512500    9.725000      3.0
        50%      0.997565    3.390000    0.545000    9.925000      3.0
        75%      0.998770    3.495000    0.615000   10.575000      3.0
        max      1.000800    3.630000    0.860000   11.000000      3.0
4       count   53.000000   53.000000   53.000000   53.000000     53.0
        mean     0.996542    3.381509    0.596415   10.265094      4.0
        std      0.001575    0.181441    0.239391    0.934776      0.0
        min      0.993400    2.740000    0.330000    9.000000      4.0
        25%      0.995650    3.300000    0.490000    9.600000      4.0
        50%      0.996500    3.370000    0.560000   10.000000      4.0
        75%      0.997450    3.500000    0.600000   11.000000      4.0
        max      1.001000    3.900000    2.000000   13.100000      4.0
5       count  681.000000  681.000000  681.000000  681.000000    681.0
        mean     0.997104    3.304949    0.620969    9.899706      5.0
        std      0.001589    0.150618    0.171062    0.736521      0.0
        min      0.992560    2.880000    0.370000    8.500000      5.0
        25%      0.996200    3.200000    0.530000    9.400000      5.0
        50%      0.997000    3.300000    0.580000    9.700000      5.0
        75%      0.997900    3.400000    0.660000   10.200000      5.0
        max      1.003150    3.740000    1.980000   14.900000      5.0
6       count  638.000000  638.000000  638.000000  638.000000    638.0
        mean     0.996615    3.318072    0.675329   10.629519      6.0
        std      0.002000    0.153995    0.158650    1.049639      0.0
        min      0.990070    2.860000    0.400000    8.400000      6.0
        25%      0.995402    3.220000    0.580000    9.800000      6.0
        50%      0.996560    3.320000    0.640000   10.500000      6.0
        75%      0.997893    3.410000    0.750000   11.300000      6.0
        max      1.003690    4.010000    1.950000   14.000000      6.0
7       count  199.000000  199.000000  199.000000  199.000000    199.0
        mean     0.996104    3.290754    0.741256   11.465913      7.0
        std      0.002176    0.150101    0.135639    0.961933      0.0
        min      0.990640    2.920000    0.390000    9.200000      7.0
        25%      0.994765    3.200000    0.650000   10.800000      7.0
        50%      0.995770    3.280000    0.740000   11.500000      7.0
        75%      0.997360    3.380000    0.830000   12.100000      7.0
        max      1.003200    3.780000    1.360000   14.000000      7.0
8       count   18.000000   18.000000   18.000000   18.000000     18.0
        mean     0.995212    3.267222    0.767778   12.094444      8.0
        std      0.002378    0.200640    0.115379    1.224011      0.0
        min      0.990800    2.880000    0.630000    9.800000      8.0
        25%      0.994175    3.162500    0.690000   11.325000      8.0
        50%      0.994940    3.230000    0.740000   12.150000      8.0
        75%      0.997200    3.350000    0.820000   12.875000      8.0
        max      0.998800    3.720000    1.100000   14.000000      8.0

In [153]:
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.99590,3.28,0.54,9.2,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,3.58,0.52,9.9,5
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.99740,3.26,1.56,9.1,5
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.99860,3.16,0.88,9.2,5
15,8.9,0.620,0.19,3.9,0.170,51.0,148.0,0.99860,3.17,0.93,9.2,5
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7
17,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.99680,3.11,1.28,9.3,5
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.99740,3.38,0.50,9.0,4
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.99690,3.04,1.08,9.2,6
20,8.9,0.220,0.48,1.8,0.077,29.0,60.0,0.99680,3.39,0.53,9.4,6
21,7.6,0.390,0.31,2.3,0.082,23.0,71.0,0.99820,3.52,0.65,9.7,5
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
23,8.5,0.490,0.11,2.3,0.084,9.0,67.0,0.99680,3.17,0.53,9.4,5
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.99680,3.43,0.63,9.7,6
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.99550,3.34,0.56,9.3,5
26,7.6,0.410,0.24,1.8,0.080,4.0,11.0,0.99620,3.28,0.59,9.5,5
27,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
28,7.1,0.710,0.00,1.9,0.080,14.0,35.0,0.99720,3.47,0.55,9.4,5
29,7.8,0.645,0.00,2.0,0.082,8.0,16.0,0.99640,3.38,0.59,9.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1569,6.2,0.510,0.14,1.9,0.056,15.0,34.0,0.99396,3.48,0.57,11.5,6
1570,6.4,0.360,0.53,2.2,0.230,19.0,35.0,0.99340,3.37,0.93,12.4,6
1571,6.4,0.380,0.14,2.2,0.038,15.0,25.0,0.99514,3.44,0.65,11.1,6
1572,7.3,0.690,0.32,2.2,0.069,35.0,104.0,0.99632,3.33,0.51,9.5,5
1573,6.0,0.580,0.20,2.4,0.075,15.0,50.0,0.99467,3.58,0.67,12.5,6
1574,5.6,0.310,0.78,13.9,0.074,23.0,92.0,0.99677,3.39,0.48,10.5,6
1575,7.5,0.520,0.40,2.2,0.060,12.0,20.0,0.99474,3.26,0.64,11.8,6
1576,8.0,0.300,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1577,6.2,0.700,0.15,5.1,0.076,13.0,27.0,0.99622,3.54,0.60,11.9,6
1578,6.8,0.670,0.15,1.8,0.118,13.0,20.0,0.99540,3.42,0.67,11.3,6
1579,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1580,7.4,0.350,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1581,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5
1583,6.2,0.460,0.29,2.1,0.074,32.0,98.0,0.99578,3.33,0.62,9.8,5
1584,6.7,0.320,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.6,7
1585,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.310,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6
1588,7.2,0.660,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [168]:
wine.pivot_table(index='quality',aggfunc='count')

,alcohol,chlorides,citric acid,density,fixed acidity,free sulfur dioxide,pH,residual sugar,sulphates,total sulfur dioxide,volatile acidity
quality,,,,,,,,,,,
3,10,10,10,10,10,10,10,10,10,10,10
4,53,53,53,53,53,53,53,53,53,53,53
5,681,681,681,681,681,681,681,681,681,681,681
6,638,638,638,638,638,638,638,638,638,638,638
7,199,199,199,199,199,199,199,199,199,199,199
8,18,18,18,18,18,18,18,18,18,18,18

In [170]:
%matplotlib inline

# Split Apply and Combine

In [181]:
# Create a function to apply
def ranker(df):
    df['acl_cont_rank']=np.arange(len(df))+1
    return df

In [182]:
wine.sort('alcohol' , ascending=False,inplace=True)

C:\Users\Black panther\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [190]:
#wine
len(wine.groupby('quality'))

6

In [193]:
wine=wine.groupby('quality').apply(ranker)

In [194]:
wine[wine.acl_cont_rank==1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,acl_cont_rank
652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,1
142,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,1
821,4.9,0.42,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.0,7,1
45,4.6,0.52,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4,1
899,8.3,1.02,0.02,3.4,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3,1

# Cross Tabulation

In [195]:
# Special class of Pivot Tables

In [196]:
#creating dataframe using stringI/O

In [5]:
from StringIO import StringIO

In [6]:
data ="""\
Sample Animal Intelligence
1 Dog Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

In [7]:
data

'Sample Animal Intelligence\n1 Dog Smart\n2 Dog Smart\n3 Cat Dumb\n4 Cat Dumb\n5 Dog Dumb\n6 Cat Smart'

In [9]:
dframe = pd.read_table(StringIO(data),sep='\s+')

In [25]:
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog        Smart
2       3    Cat         Dumb
3       4    Cat         Dumb
4       5    Dog         Dumb
5       6    Cat        Smart

In [22]:
dframe.pivot_table(columns=['Animal','Intelligence'])

        Animal  Intelligence
Sample  Cat     Dumb            3.5
                Smart           6.0
        Dog     Dumb            5.0
                Smart           1.5
dtype: float64

In [24]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              2      1    3
Dog              1      2    3
All              3      3    6

In [28]:
dframe.pivot('Sample','Animal','Intelligence')

Animal    Cat    Dog
Sample
1        None  Smart
2        None  Smart
3        Dumb   None
4        Dumb   None
5        None   Dumb
6       Smart   None